<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="CommonXunitConsolePath" value="\\packages\\xunit.runner.console.2.2.0\\tools"/>
		<add key="CommonDLLPath" value="\\bin\\Debug\\"/>
		<add key="ProjectNamePrepender" value=".FunctionalTests."/>
		<add key="AutomationPrepender" value="Assessor3.TestAutomation"/>
		<add key="XunitCommand" value="xunit.console"/>
		<add key="HTMLTag" value="-html"/>
		<add key="XMLTag" value="-xml"/>
	</appSettings>
</configuration>